<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de tarefas pessoal</title>
</head>
<body>
    <h1>Bem vindo a sua lista de tarefas</h1>
    <form action="/adicionar" method="post">
        <div>
            <label for="title">Nome da tarefa</label>
            <input type="text" name="title" placeholder="Aguardando tarefa...">
            <br>
            <button type="submit">Adicionar</button>
        </div>
    </form>

    {% for lista in lista_tarefas %}
        <p>{{lista.id}} | {{lista.title}}</p>

        {% if lista.complete == False %}
            <span>Incompleto</span>
        {% else %}
            <span>Completo</span>
        {% endif %}

        <a href="/atualizar/{{lista.id}}">Atualizar</a>
        <a href="/apagar/{{lista.id}}">Apagar</a>
    {% endfor %}
</body>
</html>